.App-header h1 {
  font-size: 100px;
  margin-left: 230px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  opacity: 0.4;
}

.container {
  width: 70%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
  align-items: center;
}

.search-section {
  background-color: rgba(246, 157, 47, 0.534);
  border-radius: 10px;
  padding: 0 30px 20px;
  align-self: flex-start;
}

.search-section h2 {
  font-size: 30px;
}

.definition-section {
  background-color: rgba(191, 145, 112, 0.422);
  border-radius: 10px;
  padding: 0 15px 20px;
  align-self: flex-start;
}

.definition-section h2 {
  font-size: 32px;
}

.phonetics-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phonetics a {
  font-size: 25px;
  color: black;
  opacity: 0.6;
}

.phonetics-text {
  font-weight: 500;
  font-size: 22px;
}

.photos-section {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: grid;
  grid-gap: 10px;
  align-self: flex-start;
  justify-content: center;
}

.author {
  text-align: center;
  margin-bottom: 30px;
}

.synonyms {
  font-weight: 500;
}
