@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:ital,wght@0,400;0,500;1,200;1,300&display=swap");

.App-header h1 {
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  display: inline;
  padding: 5px;
  margin: 30px;
  text-transform: uppercase;
  color: white;
  background: rgb(141, 228, 11);
}

.container {
  width: 70%;
  background-color: rgba(49, 6, 69, 0.899);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
  align-items: center;
}

.search-section {
  background-color: rgba(220, 107, 8, 0.959);
  border-radius: 10px;
  padding: 20px 30px;
  align-self: flex-start;
}

.search-section h2 {
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
}

.search-section input {
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
}

.search-section input [type="submit"] {
  padding: 12px;
  background-color: bisque;
  font-size: 20px;
}

.definition-section {
  background-color: rgba(49, 6, 69, 0.899);
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  align-self: flex-start;
}

.definition-section h2 {
  font-size: 32px;
}

.meanings h4 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.phonetics-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phonetics a {
  font-size: 25px;
  color: black;
  opacity: 0.6;
}

.phonetics-text {
  font-weight: 500;
  font-size: 22px;
}

.photos-section {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: grid;
  grid-gap: 10px;
  align-self: flex-start;
  justify-content: center;
}
.photo {
  border-radius: 5px;
}
.author {
  text-align: center;
  margin-bottom: 30px;
}

.synonyms {
  font-weight: 500;
}
